.pl-14 {
	padding-left: 14px;
}
.pr-14 {
	padding-right: 14px;
}
.paddingContainerInMenu {
	padding: 0 16px;
}
.aligneItemsCenter {
	align-items: center;
}
.w100p {
	width: 100%;
}
.margin-top {
	margin-top: 20px;
}
.mt-8 {
	margin-top: 8px;
}
.mb-8 {
	margin-bottom: 8px;
}
